@import "_global";

#container{
    position: relative;
    display: grid;
    grid-template-areas: 
    'h h h'
    'b b b'
    'p1 s p2';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 25fr 1fr;
    background-color: $primary-bright;
    // grid-gap: 30px
    height: 100vh;
}

.header{
    grid-area: h;
    background-color: $black;
    color: $white;
    border: 0.1vw solid $black;
    font-family: $secondary-font;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}


.board-container{
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
}

.player1Score{
    grid-area: p1;
}

.startButton{
    grid-area: s;
    background-color: $black;
    color: $white;
    border: 0.1vw solid $black;
    font-family: $secondary-font;
    font-size: 3vw;   
}

.player2Score{
    grid-area: p2;
}

.board{
    display:grid;
    border: 1vh solid rgb(39, 1, 1);
}

.tile{
    border: 0.05vw solid grey;
    height: auto;
}

.food{
    // background-image: url(https://www.wellnesspetfood.com/sites/default/files/2018-06/TruFood%20Make%20it%20Fresh_dog_2.gif);
    background-image: url(https://www.wellnesspetfood.com/sites/default/files/inline-images/Complete%20Health%20Gravies_cat_0.gif);
    background-size: cover;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.player1{
    background-image: url(https://static.wixstatic.com/media/c03e75_c9dc0151d04e4ff3870d694602304f44~mv2.gif/v1/fill/w_302,h_403,al_c,q_90/file.jpg);
    background-size: cover;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.player2{
    // background-image: url(https://media2.giphy.com/media/H1XUAkniijT15flKaD/giphy.gif);
    background-image: url(https://i.embed.ly/1/display/resize?width=800&height=800&key=3e750996b20f47be9451da09d3fffa5b&url=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F8DTEMy7fSrzgI%2Fgiphy.gif);
    // background-image: url(http://forgifs.com/gallery/d/248904-2/Puppy-dog-shaking-head.gif);
    // background-image: url(https://cdn.dribbble.com/users/974793/screenshots/4132585/___2.gif);
    // background-image: url(https://media3.giphy.com/media/16StbF7VCSw6Y/giphy.webp?cid=790b76115d41e90d4d4b306a73495d5e&rid=giphy.webp);
    background-size: cover;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

// .boardSize{
//     position: absolute;
//     background-color: $secondary-bright;
//     color: $accent;
//     height: 50vh;
//     width: 50vw;
//     top:50%;
//     left: 50%;
// }


